<div class="conversation">
  <div class="row">
    <div class="back col-xs-1 no-padding">
      <p class="conversation-back">←</p>
    </div>
    <div class= "conversation-users col-xs-11 no-padding">
      <% @users.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
  </div>
  <div class= "conversation-messages">
    <%= render partial: 'messages/messages', locals: { messages: @messages } %>
  </div>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"}, remote: true do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る", class: "btn" %>
  </div>
<% end %>