<div class="wrapper top-wrapper">
  <div class= "row">
    <div class= "col-xs-2 col-gray user-info">
      <%= profile_img(@user) %>
      <%= @user.name %>
      <button>編集</button>
    </div>
    <div class= "col-xs-4">
      <div class= "index-form row">
        <div class= "col-xs-11">
          <div class= "col-white row">
            <%= form_for(@topic, url: topics_path, remote: true) do |f| %>
              <% if @topic.errors.any? %>
                <% @topic.errors.full_messages.each do |msg| %>
                  <div class= "alert alert-warning" role="alert">
                    <p><%= msg %></p>
                  </div>
                  <% end %>
                <% end %>
              <%= f.text_area :content,type: :text,  :placeholder => '今何してる？', class: 'form-control' %>
              <br>
              <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
          <div id="topics_area">
            <%= render partial: 'topics/show', locals: { topics: @topics } %>
          </div>
        </div>
        <div class= "col-xs-1 col-gray">
        </div>
      </div>
    </div>
    <div class= "col-xs-4">
      <div class= "row">
        <div class= "col-xs-11">
          <div class= "row col-white">
            <%= render partial: 'conversations/index', locals: { conversations: @conversations } %>
          </div>
          <div class= "row">
            <div class= "conversation-area  col-white">
            </div>
          </div>
        </div>
        <div class= "col-xs-1 col-gray">
        </div>
      </div>
    </div>
    <div class= "col-xs-2 col-gray">
      <%= render partial: 'users/index', locals: { users: @users } %>
    </div>
  </div>
</div>