<div class="wrapper top-wrapper">
  <div class= "row-fluid">
    <div class= "col-xs-2 col-gray col-fluid user-info">
      <h3>自分</h3>
      <div class= "row-fluid">
        <%= profile_img(@user) %>
        <%= @user.name %>
      </div>
      <div class= "row-fluid">
        <div class= "col-xs-6 no-padding">
          フォロー
        </div>
        <div class= "col-xs-6 no-padding">
          フォロワー
        </div>
      </div>
      <div class= "row-fluid">
        <div class= "col-xs-6 no-padding">
          <%= @user.followed_users.count %>
        </div>
        <div class= "col-xs-6 no-padding">
          <%= @user.followers.count %>
        </div>
      </div>
      <div class= "row-fluid">
        <span>メールアドレス</span>
        <br>
        <span><%= @user.email %></span>
      </div>
      <%= link_to edit_user_registration_path do %>
        <button class="btn default-btn">編集</button>
      <% end %>
      <div class= "row-fluid">
        <h3>友達</h3>
        <% @temp = @users %>
        <% @users = @friend%>
        <%= render partial: 'users/index' %>
        <% @users = @temp%>
      </div>
    </div>
    <div class= "col-xs-4">
      <div class= "index-form row">
        <div class= "col-xs-11">
          <div class= "col-white row">
            <%= form_for(@topic, url: topics_path, remote: true) do |f| %>
              <% if @topic.errors.any? %>
                <% @topic.errors.full_messages.each do |msg| %>
                  <div class= "alert alert-warning" role="alert">
                    <p><%= msg %></p>
                  </div>
                  <% end %>
                <% end %>
              <%= f.text_area :content,type: :text,  :placeholder => '今何してる？', class: 'form-control' %>
              <br>
              <%= f.hidden_field :user_id %>
              <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
          <div id="topics_area">
            <%= render partial: 'topics/show', locals: { topics: @topics } %>
          </div>
        </div>
        <div class= "col-xs-1 col-gray">
        </div>
      </div>
    </div>
    <div class= "col-xs-4">
      <div class= "row">
        <div class= "col-xs-11">
          <div class= "row col-white">
            <%= render partial: 'conversations/index', locals: { conversations: @conversations } %>
          </div>
          <div class= "row">
            <div class= "conversation-area  col-white">
            </div>
          </div>
        </div>
        <div class= "col-xs-1 col-gray">
        </div>
      </div>
    </div>
    <div class= "col-xs-2 col-gray">
      <h3>ユーザー</h3>
      <%= render partial: 'users/index', locals: { users: @users } %>
    </div>
  </div>
</div>