<ul class= "user-list">
  <% @users.each do |user| %>
    <% unless user == current_user %>
      <li class= <%= "user-#{user.id}" %>>
        <div class="item">
          <a href = "/users/<%= user.id %>">
            <%= profile_img(user) %>
            <%= user.name %>
          </a>
          <% unless current_page?(controller: 'topics', action: 'index') %>
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do %>
              <i class="fa fa-comments-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <%= render partial: 'users/follow_form', locals: { user: user } if signed_in?   %>
      </li>
    <% end %>
  <% end %>
</ul>