<div class="wrapper container">
  <div class= "title row">
    <div class= "col-md-1 col-md-offset-2">
      <%= profile_img(@user) if profile_img(@user) %>
    </div>
    <div class= "col-md-9">
      <h2><%= @user.name %>さんの詳細ページ</h2>
    </div>
  </div>
  <div class="container-child col-md-6 col-sm-6 col-xs-6 ">
    <h4>フォロー一覧</h4>
    <% @user.followed_users.each do |f_u| %>
      <div class="row">
        <div class= "col-md-4">
          <%= profile_img(f_u) %>
        </div>
        <div class= "col-md-7">
          <%= f_u.name %>
        </div>
        <div class= "col-md-7">
          <%= f_u.email %>
        </div>
        <%= render 'follow_form', user: f_u %>
      </div>
    <% end %>
  </div>
  <div class="container-child col-md-6 col-sm-6 col-xs-6 ">
  <h4>フォロワー一覧</h4>
    <% @user.followers.each do |f_u| %>
      <div class="row">
        <div class= "col-md-4">
          <%= profile_img(f_u) %>
        </div>
        <div class= "col-md-7">
          <%= f_u.name %>
        </div>
        <div class= "col-md-7">
          <%= f_u.email %>
        </div>
        <%= render 'follow_form', user: f_u %>
      </div>
    <% end %>
  </div>
</div>